html 
  head
    meta(charset='UTF-8')

    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title Home

    link(rel='icon', href='../images/aabuLogo2.png', type='image/x-icon')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.11.2/css/all.css')

    link(rel='stylesheet', href='../style/mdb/css/bootstrap.min.css')

    link(rel='stylesheet', href='../style/mdb/css/mdb.min.css')

    link(rel='stylesheet', href='../style/home.css')
  body

    block content
    // Navbar
    nav.mb-1.navbar.navbar-expand-lg.navbar-dark.lighten-1
      a.navbar-brand(href='#')
        img#logo.d-inline-block.align-top(src='../images/aabuLogo2.png', height='100', alt='AL-Albayt')
      | &#x9;&#x9;&#x9;
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-555', aria-controls='navbarSupportedContent-555', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      // Pages Opitions
      #navbarSupportedContent-555.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.drop-link.m-auto.active
            a.nav-link(href='info') Home
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          li.nav-item.drop-link
            a.nav-link(href='about') About
        | &#x9;&#x9;&#x9;&#x9;
        ul.navbar-nav.ml-auto.nav-flex-icons
          li.nav-item.avatar.dropdown
            a#navbarDropdownMenuLink-55.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            // More Opitions
            .dropdown-menu.dropdown-menu-lg-right.dropdown-secondary(aria-labelledby='navbarDropdownMenuLink-55')
              a.dropdown-item(href='#') Action
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a.dropdown-item(href='#') Another action
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a.dropdown-item(href='#') Something else here
    // Layout Nav
    // jQuery
    script(type='text/javascript', src='../style/mdb/js/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='../style/mdb/js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='../style/mdb/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='../style/mdb/js/mdb.min.js')
    // Your custom scripts (optional)
    script(type='text/javascript').



