<div class="footer_social" style="background-color:#e3e3e3; height: 40px;">
    <figure>
        <strong>Follow us :</strong>
    </figure>
    <div class="icons" style="background-color:#e3e3e3;margin-top: -18px; margin-left: 87px; ">
        <a href="https://www.twitter.com/">
            <i class="fa fa-twitter" style="padding-right:5px;"></i>
        </a>
        <a href="https://www.facebook.com/856836384395242">
            <i class="fa fa-facebook" style="padding-right:5px;"></i>
        </a>
        <a href="https://www.linkedin.com/">
            <i class="fa fa-linkedin" style="padding-right:5px;"></i>
        </a>
        <a href="https://www.youtube.com/">
            <i class="fa fa-youtube-play" style="padding-right:5px;"></i>
        </a>
        <a href="https://www.instagram.com/alalbayt2018/">
            <i class="fa fa-instagram" style="padding-right:5px;"></i>
        </a>
        <a href="https://pod51046.outlook.com/owa/">
            <i class="fa fa-envelope" style="padding-right:5px;"></i>
        </a>
    </div>
    <!-- /.icons -->
</div>
<div class="search pull-right" style="float: right;background-color:#e3e3e3;">
    <div class="input-group" style="z-index: 0;    margin-top: -37px;margin-right: 25px;">
        <input name="ctl00$SearchBottom$txtSearch" maxlength="100" id="ctl00_SearchBottom_txtSearch" type="search" class="form-control" placeholder="Search ...">
        <span class="input-group-btn" style="width: 20px;height: 30px;">
            <a id="ctl00_SearchBottom_lnbSearch" class="btn"
                href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$SearchBottom$lnbSearch&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">
                <i class="fa fa-search"></i>
                <!-- <img src="../images/vr-glass.png" style="width: 20px;height: 30px;"> -->
            </a>
        </span>
    </div>
    <!-- /input-group -->
</div>

<div class="footer" style="background-color: #007778;">
    <div class="footer_logo_unviersity" style="width: 50px;height: 50px;">
        <aside class="logo">
            <a href="https://www.aabu.edu.jo/" id="ctl00_FooterBody_link">
                <img src="../images/aabuLogo2.png" class="vertical-center ImgLogoBottomn"
                    style="margin-left: 20px;margin-top: 42px;">
            </a>
        </aside>
    </div>
    <div class="footer_contact" style="margin-left: 372px;">
        <h4>Contact Us</h4>
        <strong> Al al-Bayt University</strong>
        <br>
        <span>P.O.BOX 130040</span>
        <br>
        <br>
        <span>Mafraq 25113, Jordan</span>
        <br>
        <abbr title="Telephone">Telephone:</abbr>
        (+962) 2-6297000
        <br>
        <abbr title="Email">Email:</abbr>
        <a href="https://www.aabu.edu.jo/EN/Pages/default.aspx#">info@aabu.edu.jo</a>
    </div>
    <div class="footer-inner" style="background-color: cadetblue;">
        <div class="copyright" style="color: black;margin-left: 25%;">
            Copyright © 2020 - 
            <a href="HTTPS://WWW.AABU.EDU.JO/EN/" title="Al al-Bayt University" id="copyaabu" target="_self" class="copyaabu">Al al-Bayt University</a> by <a href="https://www.aabu.edu.jo/en/centers/computercenter/pages/default.aspx" title="Al al-Bayt University" id="copyaabu" target="_self" class="copyaabu">Computer Center.</a>
        </div>
    </div>
    
</div>