<header>
    <!--Navbar-->
    <nav class="navbar-dark">
        <a class="navbar-brand" href="../views/">
            <img src="../images/aabuLogo2.png" height="100" class="d-inline-block align-top" alt="AL-Albayt" id="logo">
        </a>
        <ul class="nav-links ml-auto">
            <li><a href="#">Academic Calendar</a></li>
            <li><a href="#">Phone Directory</a></li>
            <li><a href="#">Online Application</a></li>
            <li><a href="#">University Mail</a></li>

        </ul>
    </nav>



</header>
<div class="navbar sticky-top dark scrolling-navbar stick">
    <!-- SideNav slide-out button -->

    <span id="dpl-navbar-buttons">
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons">

            <!-- Login / register -->

            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">Home<i class="fas fa-home ml-2"></i>
            </a>
            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">About AABU<i class="fas fa-angle-down ml-2"></i>
            </a>
            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">Academics<i class="fas fa-angle-down ml-2"></i>
            </a>
            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">Portals<i class="fas fa-angle-down ml-2"></i>
            </a>
            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">Centers<i class="fas fa-angle-down ml-2"></i>
            </a>
            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">Research<i class="fas fa-angle-down ml-2"></i>
            </a>
            <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                role="button">Students<i class="fas fa-angle-down ml-2"></i>
            </a>

            <!-- <a alt="Dynamic: Go Pro (jQuery)" class="btn btn-info btn-sm my-0" href="#" role="button">Home<i
						class="fas fa-home"></i></a> -->
        </ul>
    </span>
</div>

<!--/.Carousel Wrapper-->

<!--Carousel Wrapper-->

<!--/.Carousel Wrapper-->