<!--Carousel Wrapper-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>

    <!-- Your CSS STYLE FILE-->
    <link rel="stylesheet" href="../style/slick/slick.css">
    <link rel="stylesheet" href="../style/slick/homeSlick.css">
    <link rel="stylesheet" href="../style/home.css">


</head>

<body>
    <%- include ("../views/header") %>
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="../images/1.jpg" alt="First slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/4.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/5.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/6.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/7.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="fas fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="fas fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--Carousel Wrapper-->
    <h1>lastst News</h1>
    <hr>
    <div class="row col-12 page-wrapper">

        <div class="col post-slider">
            <div class="for_slick_slider multiple-items">

                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/it.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                        <!-- Title -->
                        <!-- Text -->
                        <p class="card-text">مناقشة مشاريع التخرج عن بُعد في كلية الامير الحسين بن عبدالله
                            لتكنولوجيا
                            المعلومات</p>
                        <!-- Button -->
                    </div>

                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/rajab.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                        <!-- Title -->
                        <!-- Text -->
                        <p class="card-text">نعي الأستاذ الدكتور رجب ابو حلاوه</p>
                        <!-- Button -->
                    </div>
                </div>

                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/annoc.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                        <!-- Title -->
                        <!-- Text -->
                        <p class="card-text">إعلان طلب إمتحان غير مكتمل</p>
                        <!-- Button -->
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/annoc2.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                        <!-- Title -->
                        <!-- Text -->
                        <p class="card-text">اعلان للطلبة حول التسجيل على الفصل الصيفي</p>
                        <!-- Button -->
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/bulghar.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                        <!-- Title -->
                        <!-- Text -->
                        <p class="card-text">رسالة شكر وعرفان من أكاديمية بلغار الإسلامية لجامعة آل البيت</p>
                        <!-- Button -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="row events">
        <div class="col-sm-3 my-col">
            <h4>Upcoming Events</h4>
            <hr>
            <a href="https://www.aabu.edu.jo/EN/Pages/Calendar.aspx"
                id="ctl00_ctl36_g_81827328_426f_4798_a3d8_3a5d13b1a2be_ctl00_calender" class="fa fa-calendar"
                target="_blank">
                Calendar</a>
            <p>No events found</p>
        </div>
        <hr>
        <div class="col-sm-3 my-col">
            <h4 class="h4">Departments Announcements</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">Registration unit Announcements</a></li>
                <li><a href="#">Announcements of Graduate Studies</a></li>
                <li><a href="#">Tenders announcements</a></li>

            </ul>

        </div>

        <div class="col-sm-3 my-col">
            <h4 class="h4">Announcements</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">إعلان خاص بامتحان الكفاءة الجامعية</a></li>
                <hr>
                <li><a href="#">جدول الامتحانات النهائية المحوسبة الفصل الدراسي الثاني للعام الجامعي 2019</a></li>
                <hr>
                <li><a href="#">الدليل الارشادي لاستخدام نظام الامتحانات المحوسبة</a></li>

            </ul>
        </div>
    </div>
    <hr>
    <div class="row col-12 gallery-wrapper">

        <div class="col gallery-slider">
            <div class="for_slick_slider gallery-items">

                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l1.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l2.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l3.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l4.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l5.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l6.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l7.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l8.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-12 card">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="../images/lightBox/l9.jpg" alt="Card image cap">
                            <a href="#!">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row events">
        <div class="col-sm-3 my-col">
            <h4 class="h4">Academic & Research</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">International Cooperation</a></li>
                <li><a href="#">Journals</a></li>
                <li><a href="#">Facts and Figures</a></li>
                <li><a href="#">Laws and regulations</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Pioneers of Al al-Bayt</a></li>


            </ul>
        </div>
        <hr>
        <div class="col-sm-3 my-col">
            <h4 class="h4">Campus Life</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">International Cooperation</a></li>
                <li><a href="#">Journals</a></li>
                <li><a href="#">Facts and Figures</a></li>
                <li><a href="#">Laws and regulations</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Pioneers of Al al-Bayt</a></li>


            </ul>

        </div>

        <div class="col-sm-3 my-col">
            <h4 class="h4">Quick Links</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">Go to radio of the University online</a></li>
                <li><a href="#">Department of legal affairs</a></li>
                <li><a href="#">Board of trustees</a></li>
                <li><a href="#">e-learning</a></li>
                <li><a href="#">Faculty members guide</a></li>
                <li><a href="#">National data base for researchers</a></li>
                <li><a href="#">Phone directory</a></li>
                <li><a href="#">Forms</a></li>
            </ul>
        </div>
    </div>




    <!--/.Carousel Wrapper-->

    <script type="text/javascript" src="../style/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="../style/slick/slick.min.js"></script>
    <script src="../style/slick/homeSlick.js"></script>

</body>