<header>
    <!--Navbar-->
    <nav class="navbar-dark default-color">
        <a class="navbar-brand" href="#">
            <img src="../images/aabuLogo2.png" height="100" class="d-inline-block align-top" alt="AL-Albayt" id="logo">
        </a>
        <ul class="nav-links ml-auto">
            <li><a href="#">Academic Calendar</a></li>
            <li><a href="#">Phone Directory</a></li>
            <li><a href="#">Online Application</a></li>
            <li><a href="#">University Mail</a></li>

        </ul>
    </nav>



</header>
<div class="navbar sticky-top dark scrolling-navbar">
    <!-- SideNav slide-out button -->
    <!-- Navbar links-->
    <div class=" ml-auto pl-2">

    </div>

    <!--Navigation icons-->
    <span id="dpl-navbar-right-buttons">
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

            <!-- Login / register -->
            <a id="navbar-static-signin" alt="Sign In" class="text-info align-self-center mr-2 auth-modal-toggle"
                data-auth-modal-tab="sign-in">Sign
                In</a>
        </ul>
    </span>
</div>