*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 1000px;
    background-color:#f1f7f6;
}

nav{
    display: flex;
    text-align: center;
    background-color: #208f84;
    border-radius:6px 6px 0px 0px;

}
nav img {
    padding-left: 10%;
}

.stick{
    background-color:#18887d;
    justify-content:space-around;
    width: auto;
    display: flex;
    letter-spacing: 1pt;
    border-radius:0px 0px 6px 6px;

}
a{
    color: azure;
    justify-content: center;
    margin-right: 22px;
}
.a:active {
    color: azure;
  }
a:hover{
    color: azure;
}
.nav-links{
    display: flex;
    width: 60%;
    margin-top: 4%;
    margin-right: 2%;
    justify-content: space-around;
    
}
.nav-links a {
    /* color:rgb(253, 226, 74); */
    color: azure;
    text-shadow: 2px 2px 2px rgb(10, 75, 47);
    letter-spacing: 1pt;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;;
}
.nav-links li {
    list-style: none;
}
/* .burger div{
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: #0ad8c3;
} */

@media (max-width: 425px) {
  
    .nav-links {
       display: none;
    }
    body{
        padding-left: 70px;
        padding-right:70px;
        
    }

}

@media (max-width: 320px) {
  
    .nav-links a {
       display: none;

    }

    body{
        padding-left: 20px;
        padding-right:20px;
        
    }

}
@media (max-width: 768px) {
    img {
        height: 100px;
    }
    .nav-links {
     display: none;
    
    }
    body{
        padding-left: 40px;
        padding-right:40px;
        
    }

}
